* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .calculator {
    background-color: rgb(170, 159, 159);
    width: 100%;
    max-width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    .display {
      min-height: 200px;
      padding: 24px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: antiquewhite;
      text-align: right;
      flex: 1 1 0%;

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input {
          font-size: 20px;
        }

        .output {
          font-size: 40px;
        }

        .operator {
          color: rgb(122, 29, 29);
        }

        .brackets {
          color: aqua;
        }

        .percent {
          color: aqua;
        }
      }

    }

    .keys {
      background-color: rgb(180, 164, 164);
      padding: 20px;
      border-radius: 8px 8px 0 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 10px;
      box-shadow: 0px -2px 16px rgb(0, 0, 0, 0.2);


      .key {
        position: relative;
        cursor: pointer;

        display: block;
        height: 0;
        padding-top: 100%;
        background-color: rgb(160, 137, 137);
        border-radius: 16px;
        transition: 0.2s;
        user-select: none;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          font-weight: 700;
          color: white;
        }
      }

      .key:hover {
        box-shadow: inset 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
      }


      .operator {
        span {
          color: rgb(122, 29, 29);
        }
      }

      .action {
        span {
          color: aqua;
        }
      }
    }

  }
}